@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Kumbh+Sans:wght@400;700&family=Poppins:ital,wght@1,300&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Poppins:ital,wght@1,300&family=Roboto+Mono&display=swap');
:root{
    /* Primary Colors */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /* Neutral Colors */
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black : hsl(0, 0%, 0%);  /* with 75% opacity for lightbox background */

    /* Fonts */
    --font-size: 1.6rem;
    --font-size-h1:2rem;
    --font-size-links: 1.2rem;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-family: 'Kumbh Sans', sans-serif;
    --font-family-2: 'Bungee', cursive;

    --border-radius: 1rem;
    --gap:0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
